@page "/purchases"
@inject HttpClient Http;
@using Core.Model;




<h1>Purchase History</h1>

@if (purchases == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Purchase ID</th>
                <th>Total Price</th>
                <th>Advertisement</th>
                <th>User</th>
                <th>Classroom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in purchases)
            {
                <tr>
                    <td>@purchase.PurchaseId</td>
                    <td>@purchase.TotalPrice</td>
                    <td>@purchase.Advertisement.Name</td>
                    <td>@purchase.User.Username</td>
                    <td>@purchase.Classroom.ClassroomId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Purchase> purchases;

    protected override async Task OnInitializedAsync()
    {
        // Fetch data from the API
        purchases = await Http.GetFromJsonAsync<List<Purchase>>("/api/purchase/getall");
    }
}
    
}